* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'IRANSansWeb';
  src: url('/fonts/IRANSansWeb_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansWeb';
  src: url('/fonts/IRANSansWeb_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansWeb';
  src: url('/fonts/IRANSansWeb_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Vazirmatn', 'Ubuntu', 'Qwitcher Grypen', 'Kalameh Bold', sans-serif;
}
