.wrapper {
  display: flex;
  width: 100%;
  max-width: 1340px;
  padding: 0;
  margin: 0 auto;
}

.userBox {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 68px;
  padding: 6px 12px;
  border-radius: 16px 0 0 16px;
  border: 1px solid #e4e4e4;
  border-right: none;
  background-color: #fff;
  margin-top: 2rem;
  min-width: 150px;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #e4e4e480;
}

.text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.name {
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.role {
  font-size: 13px;
  margin-top: 3px;
  color: #64748b;
}

.searchBox {
  position: relative;
  flex: 1;
  margin-top: 2rem;
}

.input {
  width: 100%;
  height: 68px;
  padding: 10px 48px 10px 14px;
  border-radius: 0 16px 16px 0;
  border: 1px solid #e4e4e4;
  font-size: 14px;
  outline: none;
  color: #00000099;
  direction: rtl;
  text-align: right;
  background-color: #fff;
  font-family: "Vazirmatn", sans-serif;
}

.input::placeholder {
  color: #00000099;
}

.icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #00000088;
}

.icon img {
  width: 18px;
  opacity: 0.6;
}
.userBox {
  position: relative;
  cursor: pointer;
  border-radius: 16px 0 0 16px;
  overflow: hidden;
}

.userBox::after {
  content: "تکمیل اطلاعات";
  position: absolute;
  inset: 0;
  background-color: rgba(85, 162, 240, 0.868);
  color: #000;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px 0 0 16px;

  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  z-index: 10;
}

.userBox:hover::after {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}
